
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class = "card-header">
                <h5 class="card-title"><em>click the table head to sort</em></h5>
            </div>
            <div class="card-body">
                <style>
                    #deviceSort th{cursor: pointer;}
                </style>
                <table class="table table-bordered" id="deviceSort">
                    <thead><tr>
                        <th data-type="string">Id</th>
                        <th data-type="string">Device Name</th>
                        <th data-type="string">Producer</th>
                        <th data-type="string">Belong IEM</th>
                        <th data-type="string">User</th>
                        <th data-type="int">Woring Days</th>
                        <th>Operations</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{range $i, $v := .list}}
                        <tr>
                            <td>{{$v.DeviceId}}</td>
                            <td>{{$v.DeviceName}}</td>
                            <td>{{$v.DeviceProducer}}</td>
                            <td>{{$v.DeviceBelongIem}}</td>
                            <td>{{$v.DeviceUserAccount}}</td>
                            <td>{{$v.DeviceWorkingDays}}</td>
                            <td>
                                <a href="/ied/query/ied/{{$v.DeviceId}}"><span class="badge
                                badge-success">Details</span></a>
                                <a href="/ied/update/ied/{{$v.DeviceId}}"><span class="badge
                                badge-primary">Update</span></a>
                                <a href="#"><span class="badge badge-danger" data-toggle="modal"
                                                  data-target="#modal_remove_device" data-clientid={{$v.DeviceId}}>
                                    Remove
                                </span></a>
                            </td>
                        </tr>
                    {{end}}

                    </tbody>
                </table>

                <script>
                    ;(function(){
                        var tbody = document.querySelector('#companySort').tBodies[0];
                        var th = document.querySelector('#companySort').tHead.rows[0].cells;
                        var td = tbody.rows;
                        for(var i = 0;i < th.length;i++){
                            th[i].flag = 1;
                            th[i].onclick = function(){
                                sort(this.getAttribute('data-type'),this.flag,this.cellIndex);
                                this.flag = -this.flag;
                            };
                        };
                        function sort(str,flag,n){
                            var arr = [];
                            for(var i = 0;i < td.length;i++){
                                arr.push(td[i]);
                            };
                            arr.sort(function(a,b){
                                return method(str,a.cells[n].innerHTML,b.cells[n].innerHTML) * flag;
                            });
                            for(var i = 0;i < arr.length;i++){
                                tbody.appendChild(arr[i]);
                            };
                        };
                        function method(str,a,b){
                            switch(str){
                                case 'num':
                                    return a-b;
                                    break;
                                case 'string':
                                    return a.localeCompare(b);
                                    break;
                                case 'invest':
                                    return Number(a.split(' ',1))-Number(b.split(' ',1));
                                    break;

                                case 'size':
                                    return Number(a.split('-',1))-Number(b.split('-',1));
                                    break;
                                case 'date':
                                    return new Date(a.split('-').join('/')).getTime()-new Date(b.split('-').join('/')).getTime();
                                    break;
                                default:
                                    return 0;
                                    break;

                            };
                        };
                    })();
                </script>


            </div>
            {{.PageHtml | strToHtml}}
        </div>
    </div>
</div>

<!-- /.remove modal -->
<div class="modal fade" id="modal_remove_device">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Delete Device</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-dark" id="remove_device_confirm" href="">Apply</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    // modal_remove_device modal event
    $("#modal_remove_device").on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const client_id = button.data('clientid');
        const modal = $(this);
        modal.find('.modal-body').text("You are about to remove device " + client_id);
        modal.find('#remove_device_confirm').val(client_id);
    })

    // remove_client_confirm button event
    $(document).ready(function () {
        $("#remove_device_confirm").click(function () {
            const client_id = $(this).val();
            $.ajax({
                url: '/ied/del/ied/' + client_id,
                async: false,
                method: 'get',
                success: function (data) {
                    $("#modal_remove_device").modal('hide');
                    toastr.success('Removed device successfully');

                },
                error: function (jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        });
    });
</script>>