<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">

            <div class = "col-md-6">
                <table class=" table table-bordered">
                    <tbody>
                    <tr>
                        <td>Device Id</td>
                        <td>{{.iedInfo.DeviceId}}</td>
                    </tr>
                    <tr>
                        <td>Device Name</td>
                        <td> {{.iedInfo.DeviceName}}</td>
                    </tr>
                    <tr>
                        <td>Device Producer</td>
                        <td> {{.iedInfo.DeviceProducer}}</td>
                    </tr>
                    <tr>
                        <td>Device User</td>
                        <td> {{.iedInfo.DeviceUserAccount}}</td>
                    </tr>
                    <tr>
                        <td>Working Days</td>
                        <td>  {{.iedInfo.DeviceWorkingDays}}</td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box -->


    </div>
</div>