<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">

            <div class = "col-md-6">
                <table class=" table table-bordered">
                    <tbody>
                    <tr>
                        <td>Company Name</td>
                        <td>{{.companyInfo.CompanyName}}</td>
                    </tr>
                    <tr>
                        <td>Company Owner Account</td>
                        <td> {{.companyInfo.CompanyOwnerAccount}}</td>
                    </tr>
                    <tr>
                        <td>Company Built Year</td>
                        <td> {{.companyInfo.CompanyBuildYear}}</td>
                    </tr>
                    <tr>
                        <td>Email Address</td>
                        <td> {{.companyInfo.EmailAddress}}</td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>  {{.companyInfo.PhoneNumber}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td> {{.companyInfo.Descript}}</td>
                    </tr>

                    <tr>
                        <td>Company Icon</td>
                        <td> <img src={{.companyInfo.Headico}}/> </td>
                    </tr>

                    <tr>
                        <td>Company Investment</td>
                        <td> {{.companyInfo.CompanyInvest}}</td>
                    </tr>

                    <tr>
                        <td>Company Size</td>
                        <td> {{.companyInfo.CompanySize}}</td>
                    </tr>

                    <tr>
                        <td>Company Location</td>
                        <td> {{.companyInfo.CompanyLocation}}</td>
                    </tr>

                    <tr>
                        <td>Company Website</td>
                        <td> {{.companyInfo.CompanyWebsite}}</td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box -->


    </div>
</div>